PORT=3000
VITE_GEMINI_API_KEY=AIzaSyDnP-oHj-08ZtnYhTKpLvHP7YWdNA-5MSA
EMAIL_USER=jouwspaanseles@gmail.com
REGISTRATION_CODE=Zayro2026
EMAIL_PASS=carolinasluimerdiaz@gmail.com
VITE_PAYMENT_API_KEY=AIzaSyDnP-oHj-08ZtnYhTKpLvHP7YWdNA-5MSA
VITE_API_KEY=AIzaSyDnP-oHj-08ZtnYhTKpLvHP7YWdNA-5MSA
APP_URL=https://zayrolingua-academy-1785946134.us-west1.run.app